<div class="grid grid-cols-6 gap-4">
  <div class="col-start-2 col-span-4">
    <h2 class="text-center mt-6 font-medium text-2xl">Freelancers List</h2>
  </div>
  <div class="col-start-2 col-span-4">

    <label for="default-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Filter Freelancer By price </label>
    <input id="minmax-range" type="range" min="0" max="10" value="5" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
    <%= turbo_frame_tag "freelancer", class: "min-w-full" do %>
      <%@freelancer.each do |free|%>
        <div class="rounded-lg shadow-lg bg-white max-w mb-2">
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2"><%= free.full_name %></h5>
            <p class="text-gray-700 text-base mb-4">
              Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            <%= link_to "Profile", profile_show_path(free.user_id), class: "text-blue-600"%>
          </div>
        </div>
      <% end %>

      <div class="mt-3">
        <% if @pagy.prev %>
          <%= link_to "< Previous page", root_path(page: @pagy.prev), data: {turbo_action: "advance"}, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded float-right" %>
        <% end %>
        <% if @pagy.next %>
          <%= link_to "Next page >", root_path(page: @pagy.next), data: {turbo_action: "advance"}, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
