 <div class="grid grid-cols-6 gap-4">
  <div class="col-start-2 col-span-4">
    <div class="rounded-lg shadow-lg bg-white max-w mb-2">
      <div class="p-6 mt-3">
        <h5 class="text-gray-900 text-xl font-medium mb-2"><%= @profile.full_name %></h5>
        <p class="text-gray-700 text-base mb-4">
          Experience = <span><%= @profile.experience%></span>
        </p>
        <p class="text-gray-700 text-base mb-4">
          Hourly Rate = <span><%= @profile.hourly_rate%></span>
        </p> 
        <p class="text-gray-700 text-base mb-4">
        Skills =  <span><%= @profile.skills%></span>
        </p>

        <% if user_signed_in? %>
        <%= link_to "Edit Profile", profile_edit_path, class: "text-blue-600"%>
        <% end %>
      </div>
    </div>
  </div>
</div>